---
layout: layouts/home.njk
---
<h2>最近發表</h2>
{% set maxPosts = collections.posts.length | min(6) %}
{% set postslist = collections.posts | head(-6) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p><a href="{{ '/posts/' | url }}">點我看更多文章</a></p>