<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:url" content="{{ metadata.url + page.url.slice(1) }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ metadata.url + page.url.slice(1) }}">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ description or metadata.description }}">
  </head>
  <body>
    <div class="content-wrapper">
      <header>
        <a href="{{ '/' | url }}" class="logo">TaMi DevLog</a>
      </header>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
        
        {%- if page.url == '/' %}
        <section class="about-section">
          <h2>About Me</h2>
          <p>歡迎! 這裡通常會分享一些有關目前遊戲開發的進度或是一些心得</p>
          <p>做這個網站是為了要讓自己的文筆變得更好 同時在寫的時候可以重新審視自己在做的東西</p>
          <h3> 聯絡方式 </h3>
          <p>Email: gary321588@gmail.com</p>
        </section>
        {%- endif %}
      </main>
    </div>
  </body>
</html>